<footer>
        <div class="footer-area d-dark-bg">
            <div class="footer__top pt-80 pb-15">
                                <div class="copy-right-area text-center">
                                    <p>"Welcome to TradeSphere, your premier destination for discovering a diverse array of products </p>
                                    <p>Explore our curated selection of goods, ranging from fashion & electronics to home decor & beyond.</p>
                                    <p>With a commitment to quality, authenticity, and customer satisfaction, we connect you with trusted</p>
                                    <p>sellers offering unique merchandise to suit every taste and need. Experience the ease of shopping</p>
                                    <p> from multiple vendors under a single roof, and join our vibrant community of shoppers & sellers today."</p>
                                    <br>
                                    <br>
                                    <p>Copyright © <span>TradeSphere.</span> All Rights Reserved.</p>
                                </div>
                            </div>
                        </div>
    </footer>
    <!-- footer-end -->